header{
    position: fixed;
    width: 99%;
}
body{
    background-color: #e7ffe5;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #fff200;
  padding: 15px 0px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
}
.nav-container{
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    background-color: black;
    color: yellow;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-links a{
    color: black;
    text-decoration: none;
}
.btn1{
    background-color: black;
    color: yellow;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 10px;

    
}
.btn1:hover{
    background-color: yellow;
    color: black;
}
.hero{
    text-align:center;
    padding: 25px 15px;
}
.hero h1{
    font-size: 5rem;
    margin: 80px 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero p{
    font-size:25px;
    margin: 0px auto 0px;
    text-align: center;
    max-width: 625px;
}
.btn2 {
    background-color: black;
    color: yellow;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
}
.btn2:hover{
    background-color: yellow;
    color: black;
    
}
.hero2{
    text-align: center;
    padding: 25px 15px;
}
.hero2 h1{
    font-size: 5rem;
    margin: 80px 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero2 p{
    font-size:25px;
    margin: 0px auto 0px;
    text-align: center;
    max-width: 625px;
}
